{% extends 'base.html.twig' %}

{% block title %}Modifier Patient{% endblock %}

{% block body %}
    <h1>Modifier Patient</h1>

    {{ include('patient/_form.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('patient/_delete_form.html.twig') }}
    
    <a href="{{ path('patient_index') }}" class="w3-margin w3-black w3-btn">retour à la liste</a>
{% endblock %}
