{% extends 'base.html.twig' %}

{% block title %}New Acte{% endblock %}

{% block body %}
    <h1>Create new Acte</h1>

    {{ include('acte/_form.html.twig') }}
    <a href="{{ path('patient_index') }}">retour à la liste</a>
{% endblock %}
