{% extends 'base.html.twig' %}

{% block title %}Modifier Facture{% endblock %}

{% block body %}
    <h2>Modifier Facture</h2>

    {{ include('facture/_form.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('facture/_delete_form.html.twig') }}
    
    <a href="{{ path('patient_index') }}" class="w3-btn w3-black w3-margin">retour à la liste</a>
{% endblock %}
